In [2]:
import os
os.chdir(r"/Users/Greer/Desktop/Lending Club - From Misha/Payments")

import numpy as np
import pandas as pd
import seaborn as sns

# Import PMTHIST_all_20160715

In [3]:
import csv

## Check the attributes list
with open('PMTHIST_all_20160715.csv', newline='') as f:
  reader = csv.reader(f)
  row1 = next(reader)
    
print(row1)

['LOAN_ID', 'PBAL_BEG_PERIOD', 'PRNCP_PAID', 'INT_PAID', 'FEE_PAID', 'DUE_AMT', 'RECEIVED_AMT', 'RECEIVED_D', 'PERIOD_END_LSTAT', 'MONTH', 'PBAL_END_PERIOD', 'MOB', 'CO', 'COAMT', 'InterestRate', 'IssuedDate', 'MONTHLYCONTRACTAMT', 'dti', 'State', 'HomeOwnership', 'MonthlyIncome', 'EarliestCREDITLine', 'OpenCREDITLines', 'TotalCREDITLines', 'RevolvingCREDITBalance', 'RevolvingLineUtilization', 'Inquiries6M', 'DQ2yrs', 'MonthsSinceDQ', 'PublicRec', 'MonthsSinceLastRec', 'EmploymentLength', 'currentpolicy', 'grade', 'term', 'APPL_FICO_BAND', 'Last_FICO_BAND', 'VINTAGE', 'PCO_RECOVERY', 'PCO_COLLECTION_FEE']

In [41]:
data = pd.read_csv("PMTHIST_all_20160715.csv", nrows=10000, low_memory=False)
data.head()

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,JAN2010,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

# Splitting large csv into 30 chunks

In [45]:
for i,chunk in enumerate(pd.read_csv('PMTHIST_all_20160715.csv', chunksize=500000)):
    chunk.to_csv('chunk{}.csv'.format(i))

/Users/Greer/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
os.chdir(r"/Users/Greer/Desktop/Lending Club - From Misha/Payments/chunks")
temp = pd.read_csv("chunk0.csv", low_memory=False)

In [53]:
temp.head()

,Unnamed: 0,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

# Loop chunk CSV files into 30 dataframes within a large dict file d{}

In [ ]:
d = {}
for i in range(0,1):
    d[i] = pd.read_csv("chunk" + str(i) + ".csv", low_memory=False)

## Once d is created the DataFrame for company x can be retrieved as d[x], so you can look up a specific company quite easily. To operate on all companies you would typically use a loop like:
# for name, df in d.items():
    # operate on DataFrame df for company name

# Concatenate the 30 dataframes into one giant dataframe

In [4]:
import glob

path =r'/Users/Greer/Desktop/Lending Club - From Misha/Payments/chunks' # use your path 
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0, low_memory=False)
    list_.append(df)
frame = pd.concat(list_)

In [5]:
len(frame)

15376980

In [6]:
frame.drop(frame.columns[[0]], axis=1, inplace=True)
frame.head()

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH,...,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009,...,NaN,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009,...,NaN,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009,...,NaN,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN
4,54734,22640.008078,604.690353,224.409647,0.0,829.1,829.1,JAN2010,Current,JAN2010,...,NaN,< 1 year,1,B,36,735-739,800-804,09Q3,NaN,NaN

In [7]:
df = frame
df.reset_index
list(df)

['LOAN_ID',
 'PBAL_BEG_PERIOD',
 'PRNCP_PAID',
 'INT_PAID',
 'FEE_PAID',
 'DUE_AMT',
 'RECEIVED_AMT',
 'RECEIVED_D',
 'PERIOD_END_LSTAT',
 'MONTH',
 'PBAL_END_PERIOD',
 'MOB',
 'CO',
 'COAMT',
 'InterestRate',
 'IssuedDate',
 'MONTHLYCONTRACTAMT',
 'dti',
 'State',
 'HomeOwnership',
 'MonthlyIncome',
 'EarliestCREDITLine',
 'OpenCREDITLines',
 'TotalCREDITLines',
 'RevolvingCREDITBalance',
 'RevolvingLineUtilization',
 'Inquiries6M',
 'DQ2yrs',
 'MonthsSinceDQ',
 'PublicRec',
 'MonthsSinceLastRec',
 'EmploymentLength',
 'currentpolicy',
 'grade',
 'term',
 'APPL_FICO_BAND',
 'Last_FICO_BAND',
 'VINTAGE',
 'PCO_RECOVERY',
 'PCO_COLLECTION_FEE']

In [10]:
df.iloc[:4,:10]

,LOAN_ID,PBAL_BEG_PERIOD,PRNCP_PAID,INT_PAID,FEE_PAID,DUE_AMT,RECEIVED_AMT,RECEIVED_D,PERIOD_END_LSTAT,MONTH
0,54734,25000.000000,581.297917,247.802083,0.0,829.1,829.1,SEP2009,Current,SEP2009
1,54734,24418.702083,587.059790,242.040210,0.0,829.1,829.1,OCT2009,Current,OCT2009
2,54734,23831.642293,592.878776,236.221224,0.0,829.1,829.1,NOV2009,Current,NOV2009
3,54734,23238.763518,598.755439,230.344561,0.0,829.1,829.1,DEC2009,Current,DEC2009

In [16]:
df.iloc[:4,11:22]

,MOB,CO,COAMT,InterestRate,IssuedDate,MONTHLYCONTRACTAMT,dti,State,HomeOwnership,MonthlyIncome,EarliestCREDITLine
0,1,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994
1,2,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994
2,3,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994
3,4,0,0.0,0.1189,AUG2009,829.1,19.48,CA,RENT,7083.333333,FEB1994

In [20]:
df.iloc[:4,23:30]

,TotalCREDITLines,RevolvingCREDITBalance,RevolvingLineUtilization,Inquiries6M,DQ2yrs,MonthsSinceDQ,PublicRec
0,42.0,28854,0.521,0.0,0.0,NaN,0
1,42.0,28854,0.521,0.0,0.0,NaN,0
2,42.0,28854,0.521,0.0,0.0,NaN,0
3,42.0,28854,0.521,0.0,0.0,NaN,0

In [73]:
df.iloc[:4,31:42]

,EmploymentLength,currentpolicy,grade,term,APPL_FICO_BAND,Last_FICO_BAND,VINTAGE,PCO_RECOVERY,PCO_COLLECTION_FEE
0,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
1,< 1 year,1,B,36,735-739,755-759,09Q3,NaN,NaN
2,< 1 year,1,B,36,735-739,785-789,09Q3,NaN,NaN
3,< 1 year,1,B,36,735-739,780-784,09Q3,NaN,NaN

In [ ]:
## Drop some string vars
df.drop(['RECEIVED_D', 'PERIOD_END_LSTAT', 'MONTH', 'IssuedDate', 'State', 'Vintage', 'grade'], axis=1, inplace=True)

In [23]:
df.EmploymentLength.value_counts()

10+ years    5019063
< 1 year     1764663
2 years      1360310
3 years      1212530
5 years       999473
1 year        981482
4 years       920650
7 years       801915
6 years       790953
8 years       746274
9 years       591712
n/a           187955
Name: EmploymentLength, dtype: int64

In [ ]:
df.replace('n/a', np.nan,inplace=True)
df.EmploymentLength.fillna(value=0,inplace=True)
df['EmploymentLength'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
df['EmploymentLength'] = df['EmploymentLength'].astype(int)

In [26]:
## Examine distribution of delinquency
df.DQ2yrs.value_counts()

0.0     12536004
1.0      1904353
2.0       555618
3.0       196289
4.0        85060
5.0        43213
6.0        23391
7.0        12495
8.0         6902
9.0         4218
10.0        2820
11.0        1659
12.0        1257
13.0         970
14.0         542
15.0         388
16.0         236
18.0         185
17.0         173
19.0         137
22.0          53
21.0          43
24.0          36
20.0          31
26.0          22
29.0          18
39.0          14
27.0          13
30.0           7
Name: DQ2yrs, dtype: int64

In [71]:
## Test case for converting range of FICO scores
# string = '756-800'
# temp = []

# for i in range(15376970,15376979):
#     string = df.iloc[i]['APPL_FICO_BAND']
#     j = int(string.split(" ")[0].split("-")[0])
#     k = int(string.split("-")[0].split(" ")[0])
#     temp.append((j+k)//2)
# temp

705

In [75]:
n = len(df)-1
APPL_FICO_avg = []
for i in range(0,n):
    if i % 100000 == 0:
        print("evaluating row %d" %i)
    string = df.iloc[i]['APPL_FICO_BAND']
    j = int(string.split(" ")[0].split("-")[0])
    k = int(string.split("-")[0].split(" ")[0])
#     APPL_low = int(string.split(" ")[0].split("-")[0])
#     APPL_high = int(string.split("-")[1].split(" ")[0])
    APPL_FICO_avg.append((j+k)//2)
# APPL_FICO_avg[10588:10600]

evaluating row 0
evaluating row 100
evaluating row 200
evaluating row 300
evaluating row 400
evaluating row 500
evaluating row 600
evaluating row 700
evaluating row 800
evaluating row 900
evaluating row 1000
evaluating row 1100
evaluating row 1200
evaluating row 1300
evaluating row 1400
evaluating row 1500
evaluating row 1600
evaluating row 1700
evaluating row 1800
evaluating row 1900
evaluating row 2000
evaluating row 2100
evaluating row 2200
evaluating row 2300
evaluating row 2400
evaluating row 2500
evaluating row 2600
evaluating row 2700
evaluating row 2800
evaluating row 2900
evaluating row 3000
evaluating row 3100
evaluating row 3200
evaluating row 3300
evaluating row 3400
evaluating row 3500
evaluating row 3600
evaluating row 3700
evaluating row 3800
evaluating row 3900
evaluating row 4000
evaluating row 4100
evaluating row 4200
evaluating row 4300
evaluating row 4400
evaluating row 4500
evaluating row 4600
evaluating row 4700
evaluating row 4800
evaluating row 4900
evaluating row 5000
evaluating row 5100
evaluating row 5200
evaluating row 5300
evaluating row 5400
evaluating row 5500
evaluating row 5600
evaluating row 5700
evaluating row 5800
evaluating row 5900
evaluating row 6000
evaluating row 6100
evaluating row 6200
evaluating row 6300
evaluating row 6400
evaluating row 6500
evaluating row 6600
evaluating row 6700
evaluating row 6800
evaluating row 6900
evaluating row 7000
evaluating row 7100
evaluating row 7200
evaluating row 7300
evaluating row 7400
evaluating row 7500
evaluating row 7600
evaluating row 7700
evaluating row 7800
evaluating row 7900
evaluating row 8000
evaluating row 8100
evaluating row 8200
evaluating row 8300
evaluating row 8400
evaluating row 8500
evaluating row 8600
evaluating row 8700
evaluating row 8800
evaluating row 8900
evaluating row 9000
evaluating row 9100
evaluating row 9200
evaluating row 9300
evaluating row 9400
evaluating row 9500
evaluating row 9600
evaluating row 9700
evaluating row 9800
evaluating row 9900
evaluating row 10000
evaluating row 10100
evaluating row 10200
evaluating row 10300
evaluating row 10400
evaluating row 10500
evaluating row 10600
evaluating row 10700
evaluating row 10800
evaluating row 10900
evaluating row 11000
evaluating row 11100
evaluating row 11200
evaluating row 11300
evaluating row 11400
evaluating row 11500
evaluating row 11600
evaluating row 11700
evaluating row 11800
evaluating row 11900
evaluating row 12000
evaluating row 12100
evaluating row 12200
evaluating row 12300
evaluating row 12400
evaluating row 12500
evaluating row 12600
evaluating row 12700
evaluating row 12800
evaluating row 12900
evaluating row 13000
evaluating row 13100
evaluating row 13200
evaluating row 13300
evaluating row 13400
evaluating row 13500
evaluating row 13600
evaluating row 13700
evaluating row 13800
evaluating row 13900
evaluating row 14000
evaluating row 14100
evaluating row 14200
evaluating row 14300
evaluating row 14400
evaluating row 14500
evaluating row 14600
evaluating row 14700
evaluating row 14800
evaluating row 14900
evaluating row 15000
evaluating row 15100
evaluating row 15200
evaluating row 15300
evaluating row 15400
evaluating row 15500
evaluating row 15600
evaluating row 15700
evaluating row 15800
evaluating row 15900
evaluating row 16000
evaluating row 16100
evaluating row 16200
evaluating row 16300
evaluating row 16400
evaluating row 16500
evaluating row 16600
evaluating row 16700
evaluating row 16800
evaluating row 16900
evaluating row 17000
evaluating row 17100
evaluating row 17200
evaluating row 17300
evaluating row 17400
evaluating row 17500
evaluating row 17600
evaluating row 17700
evaluating row 17800
evaluating row 17900
evaluating row 18000
evaluating row 18100
evaluating row 18200
evaluating row 18300
evaluating row 18400
evaluating row 18500
evaluating row 18600
evaluating row 18700
evaluating row 18800
evaluating row 18900
evaluating row 19000
evaluating row 19100
evaluating row 19200
evaluating row 19300
evaluating row 19400
evaluating row 19500
evaluating row 19600
evaluating row 19700
evaluating row 19800
evaluating row 19900
evaluating row 20000
evaluating row 20100
evaluating row 20200
evaluating row 20300
evaluating row 20400
evaluating row 20500
evaluating row 20600
evaluating row 20700
evaluating row 20800
evaluating row 20900
evaluating row 21000
evaluating row 21100
evaluating row 21200
evaluating row 21300
evaluating row 21400
evaluating row 21500
evaluating row 21600
evaluating row 21700
evaluating row 21800
evaluating row 21900
evaluating row 22000
evaluating row 22100
evaluating row 22200
evaluating row 22300
evaluating row 22400
evaluating row 22500
evaluating row 22600
evaluating row 22700
evaluating row 22800
evaluating row 22900
evaluating row 23000
evaluating row 23100
evaluating row 23200
evaluating row 23300
evaluating row 23400
evaluating row 23500
evaluating row 23600
evaluating row 23700
evaluating row 23800
evaluating row 23900
evaluating row 24000
evaluating row 24100
evaluating row 24200
evaluating row 24300
evaluating row 24400
evaluating row 24500
evaluating row 24600
evaluating row 24700
evaluating row 24800
evaluating row 24900
evaluating row 25000
evaluating row 25100
evaluating row 25200
evaluating row 25300
evaluating row 25400
evaluating row 25500
evaluating row 25600
evaluating row 25700
evaluating row 25800
evaluating row 25900
evaluating row 26000
evaluating row 26100
evaluating row 26200
evaluating row 26300
evaluating row 26400
evaluating row 26500
evaluating row 26600
evaluating row 26700
evaluating row 26800
evaluating row 26900
evaluating row 27000
evaluating row 27100
evaluating row 27200
evaluating row 27300
evaluating row 27400
evaluating row 27500
evaluating row 27600
evaluating row 27700
evaluating row 27800
evaluating row 27900
evaluating row 28000
evaluating row 28100
evaluating row 28200
evaluating row 28300
evaluating row 28400
evaluating row 28500
evaluating row 28600
evaluating row 28700
evaluating row 28800
evaluating row 28900
evaluating row 29000
evaluating row 29100
evaluating row 29200
evaluating row 29300
evaluating row 29400
evaluating row 29500
evaluating row 29600
evaluating row 29700
evaluating row 29800
evaluating row 29900
evaluating row 30000
evaluating row 30100
evaluating row 30200
evaluating row 30300
evaluating row 30400
evaluating row 30500
evaluating row 30600
evaluating row 30700
evaluating row 30800
evaluating row 30900
evaluating row 31000
evaluating row 31100
evaluating row 31200
evaluating row 31300
evaluating row 31400
evaluating row 31500
evaluating row 31600
evaluating row 31700
evaluating row 31800
evaluating row 31900
evaluating row 32000
evaluating row 32100
evaluating row 32200
evaluating row 32300
evaluating row 32400
evaluating row 32500
evaluating row 32600
evaluating row 32700
evaluating row 32800
evaluating row 32900
evaluating row 33000
evaluating row 33100
evaluating row 33200
evaluating row 33300
evaluating row 33400
evaluating row 33500
evaluating row 33600
evaluating row 33700
evaluating row 33800
evaluating row 33900
evaluating row 34000
evaluating row 34100
evaluating row 34200
evaluating row 34300
evaluating row 34400
evaluating row 34500
evaluating row 34600
evaluating row 34700
evaluating row 34800
evaluating row 34900
evaluating row 35000
evaluating row 35100
evaluating row 35200
evaluating row 35300
evaluating row 35400
evaluating row 35500
evaluating row 35600
evaluating row 35700
evaluating row 35800
evaluating row 35900
evaluating row 36000
evaluating row 36100
evaluating row 36200
evaluating row 36300
evaluating row 36400
evaluating row 36500
evaluating row 36600
evaluating row 36700
evaluating row 36800
evaluating row 36900
evaluating row 37000
evaluating row 37100
evaluating row 37200
evaluating row 37300
evaluating row 37400
evaluating row 37500
evaluating row 37600
evaluating row 37700
evaluating row 37800
evaluating row 37900
evaluating row 38000
evaluating row 38100
evaluating row 38200
evaluating row 38300
evaluating row 38400
evaluating row 38500
evaluating row 38600
evaluating row 38700
evaluating row 38800
evaluating row 38900
evaluating row 39000
evaluating row 39100
evaluating row 39200
evaluating row 39300
evaluating row 39400
evaluating row 39500
evaluating row 39600
evaluating row 39700
evaluating row 39800
evaluating row 39900
evaluating row 40000
evaluating row 40100
evaluating row 40200
evaluating row 40300
evaluating row 40400
evaluating row 40500
evaluating row 40600
evaluating row 40700
evaluating row 40800
evaluating row 40900
evaluating row 41000
evaluating row 41100
evaluating row 41200
evaluating row 41300
evaluating row 41400
evaluating row 41500
evaluating row 41600
evaluating row 41700
evaluating row 41800
evaluating row 41900
evaluating row 42000
evaluating row 42100
evaluating row 42200
evaluating row 42300
evaluating row 42400
evaluating row 42500
evaluating row 42600
evaluating row 42700
evaluating row 42800
evaluating row 42900
evaluating row 43000
evaluating row 43100
evaluating row 43200
evaluating row 43300
evaluating row 43400
evaluating row 43500
evaluating row 43600
evaluating row 43700
evaluating row 43800
evaluating row 43900
evaluating row 44000
evaluating row 44100
evaluating row 44200
evaluating row 44300
evaluating row 44400
evaluating row 44500
evaluating row 44600
evaluating row 44700
evaluating row 44800
evaluating row 44900
evaluating row 45000
evaluating row 45100
evaluating row 45200
evaluating row 45300
evaluating row 45400
evaluating row 45500
evaluating row 45600
evaluating row 45700
evaluating row 45800
evaluating row 45900
evaluating row 46000
evaluating row 46100
evaluating row 46200
evaluating row 46300
evaluating row 46400
evaluating row 46500
evaluating row 46600
evaluating row 46700
evaluating row 46800
evaluating row 46900
evaluating row 47000
evaluating row 47100
evaluating row 47200
evaluating row 47300
evaluating row 47400
evaluating row 47500
evaluating row 47600
evaluating row 47700
evaluating row 47800
evaluating row 47900
evaluating row 48000
evaluating row 48100
evaluating row 48200
evaluating row 48300
evaluating row 48400
evaluating row 48500
evaluating row 48600
evaluating row 48700
evaluating row 48800
evaluating row 48900
evaluating row 49000
evaluating row 49100
evaluating row 49200
evaluating row 49300
evaluating row 49400
evaluating row 49500
evaluating row 49600
evaluating row 49700
evaluating row 49800
evaluating row 49900
evaluating row 50000
evaluating row 50100
evaluating row 50200
evaluating row 50300
evaluating row 50400
evaluating row 50500
evaluating row 50600
evaluating row 50700
evaluating row 50800
evaluating row 50900
evaluating row 51000
evaluating row 51100
evaluating row 51200
evaluating row 51300
evaluating row 51400
evaluating row 51500
evaluating row 51600
evaluating row 51700
evaluating row 51800
evaluating row 51900
evaluating row 52000
evaluating row 52100
evaluating row 52200
evaluating row 52300
evaluating row 52400
evaluating row 52500
evaluating row 52600
evaluating row 52700
evaluating row 52800
evaluating row 52900
evaluating row 53000
evaluating row 53100
evaluating row 53200
evaluating row 53300
evaluating row 53400
evaluating row 53500
evaluating row 53600
evaluating row 53700
evaluating row 53800
evaluating row 53900
evaluating row 54000
evaluating row 54100
evaluating row 54200
evaluating row 54300
evaluating row 54400
evaluating row 54500
evaluating row 54600
evaluating row 54700
evaluating row 54800
evaluating row 54900
evaluating row 55000
evaluating row 55100
evaluating row 55200
evaluating row 55300
evaluating row 55400
evaluating row 55500
evaluating row 55600
evaluating row 55700
evaluating row 55800
evaluating row 55900
evaluating row 56000
evaluating row 56100
evaluating row 56200
evaluating row 56300
evaluating row 56400
evaluating row 56500
evaluating row 56600
evaluating row 56700
evaluating row 56800
evaluating row 56900
evaluating row 57000
evaluating row 57100
evaluating row 57200
evaluating row 57300
evaluating row 57400
evaluating row 57500
evaluating row 57600
evaluating row 57700
evaluating row 57800
evaluating row 57900
evaluating row 58000
evaluating row 58100
evaluating row 58200
evaluating row 58300
evaluating row 58400
evaluating row 58500
evaluating row 58600
evaluating row 58700
evaluating row 58800
evaluating row 58900
evaluating row 59000
evaluating row 59100
evaluating row 59200
evaluating row 59300
evaluating row 59400
evaluating row 59500
evaluating row 59600
evaluating row 59700
evaluating row 59800
evaluating row 59900
evaluating row 60000
evaluating row 60100
evaluating row 60200
evaluating row 60300
evaluating row 60400
evaluating row 60500
evaluating row 60600
evaluating row 60700
evaluating row 60800
evaluating row 60900
evaluating row 61000
evaluating row 61100
evaluating row 61200
evaluating row 61300
evaluating row 61400
evaluating row 61500
evaluating row 61600
evaluating row 61700
evaluating row 61800
evaluating row 61900
evaluating row 62000
evaluating row 62100
evaluating row 62200
evaluating row 62300
evaluating row 62400
evaluating row 62500
evaluating row 62600
evaluating row 62700
evaluating row 62800
evaluating row 62900
evaluating row 63000
evaluating row 63100
evaluating row 63200
evaluating row 63300
evaluating row 63400
evaluating row 63500
evaluating row 63600
evaluating row 63700
evaluating row 63800
evaluating row 63900
evaluating row 64000
evaluating row 64100
evaluating row 64200
evaluating row 64300
evaluating row 64400
evaluating row 64500
evaluating row 64600
evaluating row 64700
evaluating row 64800
evaluating row 64900
evaluating row 65000
evaluating row 65100
evaluating row 65200
evaluating row 65300
evaluating row 65400
evaluating row 65500
evaluating row 65600
evaluating row 65700
evaluating row 65800
evaluating row 65900
evaluating row 66000
evaluating row 66100
evaluating row 66200
evaluating row 66300
evaluating row 66400
evaluating row 66500
evaluating row 66600
evaluating row 66700
evaluating row 66800
evaluating row 66900
evaluating row 67000
evaluating row 67100
evaluating row 67200
evaluating row 67300
evaluating row 67400
evaluating row 67500
evaluating row 67600
evaluating row 67700
evaluating row 67800
evaluating row 67900
evaluating row 68000
evaluating row 68100
evaluating row 68200
evaluating row 68300
evaluating row 68400
evaluating row 68500
evaluating row 68600
evaluating row 68700
evaluating row 68800
evaluating row 68900
evaluating row 69000
evaluating row 69100
evaluating row 69200
evaluating row 69300
evaluating row 69400
evaluating row 69500
evaluating row 69600
evaluating row 69700
evaluating row 69800
evaluating row 69900
evaluating row 70000
evaluating row 70100
evaluating row 70200
evaluating row 70300
evaluating row 70400
evaluating row 70500
evaluating row 70600
evaluating row 70700
evaluating row 70800
evaluating row 70900
evaluating row 71000
evaluating row 71100
evaluating row 71200
evaluating row 71300
evaluating row 71400
evaluating row 71500
evaluating row 71600
evaluating row 71700
evaluating row 71800
evaluating row 71900
evaluating row 72000
evaluating row 72100
evaluating row 72200
evaluating row 72300
evaluating row 72400
evaluating row 72500
evaluating row 72600
evaluating row 72700
evaluating row 72800
evaluating row 72900
evaluating row 73000
evaluating row 73100
evaluating row 73200
evaluating row 73300
evaluating row 73400
evaluating row 73500
evaluating row 73600
evaluating row 73700
evaluating row 73800
evaluating row 73900
evaluating row 74000
evaluating row 74100
evaluating row 74200
evaluating row 74300
evaluating row 74400
evaluating row 74500
evaluating row 74600
evaluating row 74700
evaluating row 74800
evaluating row 74900
evaluating row 75000
evaluating row 75100
evaluating row 75200
evaluating row 75300
evaluating row 75400
evaluating row 75500
evaluating row 75600
evaluating row 75700
evaluating row 75800
evaluating row 75900
evaluating row 76000
evaluating row 76100
evaluating row 76200
evaluating row 76300
evaluating row 76400
evaluating row 76500
evaluating row 76600
evaluating row 76700
evaluating row 76800
evaluating row 76900
evaluating row 77000
evaluating row 77100
evaluating row 77200
evaluating row 77300
evaluating row 77400
evaluating row 77500
evaluating row 77600
evaluating row 77700
evaluating row 77800
evaluating row 77900
evaluating row 78000
evaluating row 78100
evaluating row 78200
evaluating row 78300
evaluating row 78400
evaluating row 78500
evaluating row 78600
evaluating row 78700
evaluating row 78800
evaluating row 78900
evaluating row 79000
evaluating row 79100
evaluating row 79200
evaluating row 79300
evaluating row 79400
evaluating row 79500
evaluating row 79600
evaluating row 79700
evaluating row 79800
evaluating row 79900
evaluating row 80000
evaluating row 80100
evaluating row 80200
evaluating row 80300
evaluating row 80400
evaluating row 80500
evaluating row 80600
evaluating row 80700
evaluating row 80800
evaluating row 80900
evaluating row 81000
evaluating row 81100
evaluating row 81200
evaluating row 81300
evaluating row 81400
evaluating row 81500
evaluating row 81600
evaluating row 81700
evaluating row 81800
evaluating row 81900
evaluating row 82000
evaluating row 82100
evaluating row 82200
evaluating row 82300
evaluating row 82400
evaluating row 82500
evaluating row 82600
evaluating row 82700
evaluating row 82800
evaluating row 82900
evaluating row 83000
evaluating row 83100
evaluating row 83200
evaluating row 83300
evaluating row 83400
evaluating row 83500
evaluating row 83600
evaluating row 83700
evaluating row 83800
evaluating row 83900

KeyboardInterrupt:

In [18]:
## Convert Last_FICO_BAND to average
## Convert APPL_FICO_BAND to average

[]

In [ ]:
## Replace appl and last FICO band in dataframe with average calculated above
df['APPL_FICO_BAND'] = APPL_FICO_avg
df['Last_FICO_BAND'] = Last_FICO_avg

In [ ]:
## Convert NaNs in MonthsSinceDQ, MonthsSinceLastRec, fPCO_Recovery and Collection_Fee
fill.na

In [ ]:
## Convert ReceivedDate and IssueDate to Date Format
from datetime import datetime

df.EarliestCREDITLine = pd.to_datetime(df.EarliestCREDITLine)
dttoday = datetime.now().strftime('%Y-%m-%d')
# There is a better way to do this :) 
df.EarliestCREDITLine = df.EarliestCREDITLine.apply(lambda x: (
        np.timedelta64((x - pd.Timestamp(dttoday)),'D').astype(int))/-365)
df.EarliestCREDITLine.head()

In [54]:
df.iloc[0:5]['EarliestCREDITLine']

0   1994-02-01
1   1994-02-01
2   1994-02-01
3   1994-02-01
4   1994-02-01
Name: EarliestCREDITLine, dtype: datetime64[ns]

In [13]:
RECEIVED_D
IssuedDate

,RevolvingLineUtilization,Inquiries6M,DQ2yrs,MonthsSinceDQ,PublicRec,MonthsSinceLastRec,EmploymentLength,currentpolicy,grade
0,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B
1,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B
2,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B
3,0.521,0.0,0.0,NaN,0,NaN,< 1 year,1,B

4